body {
  margin: 0;
  font-family: monospace;
  background: #0f172a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.terminal {
  background: #020617;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

h2 {
  color: #38bdf8;
}

select, button {
  width: 100%;
  margin-top: 12px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.output {
  margin-top: 15px;
  min-height: 40px;
}
